<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gerard.insurance">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Information">
        </activity>
        <activity android:name=".Car_Info">
        </activity>
        <activity android:name=".Payment">
        </activity>
        <activity android:name=".Credit_Card">
        </activity>
        <activity android:name=".Crypto">
    </activity>
        <activity android:name=".Health">

        </activity>
        <activity android:name=".NavigationActivity">
        </activity>
        <activity android:name=".House">
        </activity>
        <activity android:name=".Health_Complications">
        </activity>
        <activity android:name=".Appointment">
        </activity>
        <activity android:name=".Monitor">
        </activity>
        <activity android:name=".CameraDetailActivity">
        </activity>
        <activity android:name=".CameraListActivity">
        </activity>

        <activity android:name=".Notification">
        </activity>
        <activity android:name=".Alarm">
        </activity>

        <activity android:name=".MaintenanceActivity">
        </activity>

        <activity android:name=".MileageActivity">
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <service android:name=".RingtonePlayingService"
            android:enabled="true">
        </service>


    </application>

</manifest>